.hero-section {
  perspective: 1000px;

  .logo-wrapper {
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .big-logo {
    width: 350px;
    height: 350px;
    will-change: transform;

    @media (max-width: 768px) {
      width: 250px;
      height: 250px;
    }
  }

  .hero-title {
    text-shadow: 1px 1px 0px #6e6e6e80;

    &__word {
      display: inline-block;
      transition: color .3s;
      letter-spacing: 0.1rem;

      &:hover {
        color: $primary-color;
      }

      &:first-child {
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .hero-subtitle {
    &:hover {
      &:after {
        width: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 10px;
      background-color: rgba($accent-color, 0.3);
      transition: width 0.3s ease;
    }
  }
}